{% extends '_base.html' %}


{% block title %}
    Additional Details
{% endblock %}

{% block panel-main %}
    <h2>Fill in some additional details...</h2>
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-2">
                <label for="profileimage" class="control-label">Profile Image</label>
            </div>
            <div class="col-sm-8">
                <input type="file" placeholder="Profile Picture" name="profilepicture">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-2">
                <label for="college" class="control-label">College</label>
            </div>
            <div class="col-sm-3">
                <input type="text" name="college" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-2">
                <label for="description" class="control-label">Description</label>
            </div>
            <div class="col-sm-9">
                <textarea class="form-control" name="description" style="height:200px;" placeholder="Enter your description"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-2">
                <label for="dob" class="control-label">Date of Birth:</label>
            </div>
            <div class="col-sm-9">
                <input type="date" name="dateofbirth" class="form-control">
            </div>
        </div>
        <div class="col-sm-offset-3">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
{% endblock %}

{% block panel-right %}
    <style>
    #panel-right{
        display:none;
    }
    </style>
{% endblock %}