{% extends '_base.html' %}
{% load static %}

{% block title %}
    {{ user.first_name }}&nbsp;{{ user.last_name }}
{% endblock %}

{% block panel-main %}
    <div class="col-sm-4">
    {% if user.userdetails.profile_image %}
        <a href="{{ user.userdetails.profile_image.url }}">
            <img src="{{ user.userdetails.profile_image.url }}" style="height:200px;width:200px;">
        </a>
    {% else %}
        <img style="height:150px;width:150px;" src="{% static 'img/default-profile-picture.jpg' %}" style="height:200px;width:200px;"w>
    {% endif %}
    </div>
    <div class="col-sm-6">
        <h2>{{ user.first_name }}&nbsp;{{ user.last_name }}</h2>
        <p style="color:dimgray">
            {{ user.userdetails.description }}
        </p>
        <br>
        <br>
        <br>
        {% if user.userdetails.college %}
        <div class="row">
            <div class="col-sm-4">
                <strong>College: </strong>
            </div>
            <div class="col-sm-4">
                {{ user.userdetails.college }}
            </div>
        </div>
        {% endif %}
        {% if user.userdetails.date_of_birth  %}
        <div class="row">
            <div class="col-sm-4">
                <strong>Date of Birth: </strong>
            </div>
            <div class="col-sm-4">
                {{ user.userdetails.date_of_birth }}
            </div>
        </div>
        {% endif %}
    </div>
    {% if user == request.user %}
    <div class="col-sm-2">
        <br>
        <a href="{% url 'users:additional-update' %}" class="btn btn-info">Edit</a>
    </div>
    {% endif %}
{% endblock %}

{% block after-content %}
    <div class="panel col-sm-8" style="margin:10px;">
        <h3>Programming Skills</h3>
        <div class="row">
            <div class="col-sm-offset-1 col-sm-2">
                <strong>Total Score: </strong>
            </div>
            <div class="col-sm-4">
                {{ user.userdetails.total_score }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-offset-1 col-sm-2">
                <strong>Total Submissions: </strong>
            </div>
            <div class="col-sm-4">
                {{ details.submissions }}
            </div>
        </div>
    </div>
{% endblock %}

{% block panel-right %}
    <style>
    #panel-right{
        display: none;
    }
    </style>
{% endblock %}