{% extends '_base.html' %}

{% block title %}
    {{ request.user.first_name }}&nbsp;{{ request.user.last_name }}
{% endblock %}

{% block panel-main %}
    <div class="col-sm-4">
        <a href="{{ request.user.userdetails.profile_image.url }}">
            <img src="{{ request.user.userdetails.profile_image.url }}" style="height:200px;width:200px;">
        </a>
    </div>
    <div class="col-sm-6">
        <h2>{{ request.user.first_name }}&nbsp;{{ request.user.last_name }}</h2>
        <p style="color:dimgray">
            {{ request.user.userdetails.description }}
        </p>
        <br>
        <br>
        <br>
        {% if request.user.userdetails.college %}
        <div class="row">
            <div class="col-sm-4">
                <strong>College: </strong>
            </div>
            <div class="col-sm-4">
                {{ request.user.userdetails.college }}
            </div>
        </div>
        {% endif %}
        {% if request.user.userdetails.date_of_birth  %}
        <div class="row">
            <div class="col-sm-4">
                <strong>Date of Birth: </strong>
            </div>
            <div class="col-sm-4">
                {{ request.user.userdetails.date_of_birth }}
            </div>
        </div>
        {% endif %}
    </div>
    <div class="col-sm-2">
        <br>
        <a href="{% url 'users:additional-update' %}" class="btn btn-info">Edit</a>
    </div>
{% endblock %}

{% block after-content %}
    <div class="panel col-sm-8" style="margin:10px;">
        <h3>Programming Skills</h3>
        <div class="row">
            <div class="col-sm-offset-1 col-sm-2">
                <strong>Total Score: </strong>
            </div>
            <div class="col-sm-4">
                {{ request.user.userdetails.total_score }}
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-offset-1 col-sm-2">
                <strong>Total Submissions: </strong>
            </div>
            <div class="col-sm-4">
                {{ details.submissions }}
            </div>
        </div>
    </div>
{% endblock %}

{% block panel-right %}
    <style>
    #panel-right{
        display: none;
    }
    </style>
{% endblock %}